<section class='header'>


  <h1 class="title">Buscador de Series</h1>
  <div class="logo">
    <a href="./index.html" title="Go to landing page"><img src="./assets/images/tvshowstimer2-desktop.PNG"
        alt="logo Series Timer"></a>
  </div>


  <div class="js-favSection-p favSection-p">
    <span class="days">00</span> : <span class="hours">00</span>
  </div>

  <div class="js-favSection-notes favSection-notes">
    <span class="days-text">days </span> : <span class="hours-text"> hours </span>
  </div>


  <div class='search'>
    <input type="text" class="js-input input" placeholder="  Type a TV show...">
    <button class="js-button button"> <i class="fas fa-search"></i></button>
  </div>
</section>