<section class="mainview">
  <section class=resultSection>
    <h2>Search result:</h2>
    <p class="js-resultSection-p"> You haven't searched anything yet.</p>
    <ul class="js-ul-result ul-result"></ul>
  </section>

  <section class='js-favouriteSection favouriteSection hidden'>
    <div class="favouriteSection_title">
      <h2>Watched TV shows: </h2>
      <i class=" icon icon-trash far fa-trash-alt js-reset-all button-reset-all hidden"></i>
    </div>
    <ul class=" js-ul-fav ul-fav"></ul>
  </section>