/* BREAKPOINTS */

$tablet: 768px;
$desktop: 1024px;

/* FONT SIZES */

$font-regular: 16;
// $font-extra-small: rem(12);
// $font-xs-small: rem(12.8);
// $font-small: rem(14);
$font-medium: rem(20);
$font-large: rem(25);
$font-large-desktop: rem(40);
$font-extra-large: rem(75);
$font-extra-large-desktop: rem(85);

/* FONT FAMILY */

$font-main: 'Open Sans', sans-serif;
$font-card: 'Montserrat', sans-serif;
$font-landing: 'Merriweather', sans-serif;

/* COLORS */

$color-light: #ffffff;
$color-medium-light: #f9f4dc;
$color-medium: #d8d8d8;
$color-medium-dark: #54585a;
$color-darkened: #6b6b6b;
$color-neutral: #f5f5f5;
$color-dark: #000000;
$color-main: #e17334;
$color-secondary: #114e4e;
$color-tertiary: #438792;
$color-quaternary: #a2deaf;
$color-fifth: #b36e2e;

$color-background-1: #000000;
$color-background-2: #dde9ed;
